<h1>All the Coupons</h1>

<% @coupons.each do |coupon| %>
  <div>
    <%= link_to "Coupon Code: #{coupon.coupon_code}", coupon_path(coupon) %> <br>
    Coupon store: <%= coupon.store %>
  </div>
<% end %>
